<%- include("./partials/header") %>
<div class="container text-center">
    <h1>Welcome!</h1>
    <img src="../../../pictures4projects/bug_software_issue_tracking_computer_screen.jpg" alt="">
    <h4>Please <a href="/login">Login</a> to continue</h4>
</div>

<%- include("./partials/footer") %>