<%- include("./partials/header") %>

<div class="center">
    <h1>Register</h1>
    <div class="border-center">
        <form action="/register" method="POST" class="form-width">
            <input autocomplete="off" class="form-field" type="text" name="username" placeholder="Choose Username">
            <input autocomplete="off" class="form-field" type="password" name="password" placeholder="Choose Password">
            <input type="submit" class="hidden" id="submit-link">
        </form>
    </div>
    <label for="submit-link" class="btn btn-success submit-button">Register</label>
</div>


<%- include("./partials/footer") %>